body{
	font-family: montserrat, sans-serif;
	background-color: #EFFBFB;
}

/* flexbox */

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: spa;
	
}

.container div{
	justify-content: center;
	/*border: 1px #ccc solid;*/
	padding: 10px;
	background-color: #EFFBFB;

}

.logo img{
	flex: 2;
	width:125px; 
    height:100px;

}

.item2{
	flex: 3;
	font-family: helvetica;
	font-size: 20px;
	background-color: #EFFBFB;
	text-align: center;
	align-self: center;
}




.nav-list{
	border: 1px #ccc solid;
	padding: 1em 0;
	background-color: #e6ffff;
	box-shadow: 0px 0px 10px var(--clr-gray200);
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.nav-list img{
	width:35px; 
    height:30px;
}

.nav-item{
	list-style: none;
	

}

.nav-item a{
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	color: black;
}

.nav-item ul li{
	cursor: pointer;
	padding: 0.5rem;
	flex: auto;
	text-align: center;


}


.nav-item:nth-child(1){
	flex: 1.5;
	padding-left: 15px;
}

.nav-item:nth-child(2){
	flex: 1;
}

.nav-item:nth-child(3){
	flex: 1;
}

.nav-item:nth-child(4){
	flex: 1 ;
}

.nav-item:nth-child(5){
	flex: 1 ;
}

.nav-item:nth-child(6){
	flex: 1 ;
	padding-right: 15px;
}

	/* Grid*/

.grid{
	display: grid;
	grid-gap:10px;
  	grid-template-columns:repeat(4,1fr);
  	grid-template-rows:auto 1fr auto;
	grid-auto-rows: minmax(200px, auto);
	

}

.grid img{
	object-fit:cover;
	width:100%;
 	height:100%;
}

.box {
  background-color: #EFFBFB;
  /*border: 1px #ccc solid;*/
  border-radius: 5px;
  padding: 10px;
}



.box6{
	background-color: white;

	grid-column: 2/4;
	border: 1px #ccc solid;
	

}

.box6 h1{
	background-color: white;
	text-align: center;
	
}

.box p{
	text-align: center;
	padding: 10px;
}

/*

@media all and (max-width: 900px){
	.item2 h1{
		font-size: 30px;
	}


	.logo img{
		width: 200px;
		height: 150px;
	}

	.box5 img{
		width: 100%;
    	height: 300px;
	}

	.box7 img{
		width: 100%;
    	height: 300px;
	}

	.box1 img{
		width: 100%;
    	height: 175px;
	}

	.box2 img{
		width: 100%;
    	height: 175px;
	}

	.box3 img{
		width: 100%;
    	height: 175px;
	}

	.box4 img{
		width: 100%;
    	height: 175px;
	}

	.box8 img{
		width: 100%;
    	height: 175px;
	}

	.box9 img{
		width: 100%;
    	height: 175px;
	}

	.box10 img{
		width: 100%;
    	height: 175px;
	}

	.box11 img{
		width: 100%;
    	height: 175px;
	}
}

*/

@media all and (max-width: 400px){
	

	.container h1{
		flex-direction: column;
		text-align: center;
		


	}

	.logo img{
		width: 265px;
		height: 200px;
	}

	.item2 h1{
		font-size: 25px;
	}


	nav ul{
		flex-direction:  column;
	}

	nav ul li{
		text-align: center;
		padding: 10px;
	}

	.nav-item:nth-child(1){
		order: 6;
	}

	/* Grid */


	.grid{
		display: grid;
		grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
/*
	.box5 img{
		order: 5;
	}

	.box6 {
		order: 6;
	}

	.box7 img{
		order: 7;
	}

	.box1 img{
		order: 1;
	}

	.box2 img{
		order: 2;
	}

	.box3 img{
		order: 3;
	}

	.box4 img{
		order: 4;
	}

	.box8 img{
		order: 8;
	}

	.box9 img{
		order: 9;
		
	}

	.box10 img{
		order: 10;
		
	}

	.box11 img{
		order: 11;
		
	}

	/*.grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: .1fr .1fr .1fr .1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"box box1"
		"box box2"
		"box box3"
		"box box4"
		"box box5"
		"box box6"
		"box box7"
		"box box8"
		"box box9"
		"box box10";
	}

}
